/* Body & background */
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(#4facfe, #00f2fe);
}

/* Canvas styling */
canvas {
  border-radius: 12px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.4);
  background: #70c5ce;
}
